*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
    left: 10%;
    padding: 7px;
}

.Welcome {
    color: rgb(0, 0, 139);
    text-align: center;
}

.Project {
    color: rgb(220, 20, 60);
    font-weight: bold;
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero {
    background-color: rgb(122, 122, 122);
    height: 5vh;
    width: 100vw;
}

.menu {
    position: absolute;
    margin: 15px;
    right: 15%;
    font-weight: bold;
    font-size: larger;
}

.column {
    float: left;
    width: 50%;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
  
.row:after {
    display: table;
    clear: both;
}

div.info {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body.div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div {
    padding: 3rem;
    background-color: rgb(153, 189, 181);
    margin: 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(122, 122, 122);
    height: 3vh;
    width: 100vw;
}

body{
    background: #99bdb5;
}

.wrapper{
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 260px);
}

.wrapper li{
    height: 300;
    list-style: none;
    background-color: #292929;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add-box, .icon, .bottom-content,
.settings .menu li, .popup, header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-box{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.add-box .icon {
    border: 4px dashed;
    height: 78px;
    width: 78px;
    font-size: 40px;
    border-radius: 50%;
    justify-content: center;
}

.add-box p{
    color: #fcf948;
    font-weight: 500;
    margin-top: 20px;
}

.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note p{
    font-size: 22px;
    font-weight: 500;
}

.note span{
    display: block;
    margin-top: 6px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.note .bottom-content{
    border-top: 2px solid;
    padding-top: 10px;
}

.bottom-content span{
    font-size: 14px;
    color: #000;
}

.bottom-content .settings i{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.settings{
    position: relative;
}

.settings .menu{
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    border-radius: 4px;
    background-color: #fff;
    transform: scale(0);
    box-shadow: 0 0 6px #0000001f;
    transition: transform 0.2s ease;
    transform-origin: bottom right;
}

.settings:hover .menu{
    transform: scale(1);
}

.settings .menu li{
    height: 25px;
    border-radius: 0;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 16px;
    padding: 17px 15px;
}

.menu li:hover{
    background-color: #90cbff;
}

.menu li i{
    padding-right: 8px;
}

.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: hsla(0, 0%, 0%, 0.15);
}

.popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.popup-box, .popup-box .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}

.popup-box.show, .popup-box .popup{
    opacity: 1;
    pointer-events: auto;
}

.popup .content{
    width: calc(100%-15px);
    background-color: #fff;
    border-radius: 5px;
}

.popup .content header{
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.content header p{
    font-size: 20px;
    font-weight: 500;
}

.content header i{
    color: #000000;
    cursor: pointer;
    font-size: 23px;
}

.content form{
    margin: 15px 25px 35px;
}

.content form .row{
    margin-bottom: 20px;
}

form .row label{
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}
.content form :where(input, textarea){
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.content form textarea{
    height: 150px;
    resize: none;
    padding: 8px 15px;
}

.content form button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #99bdb5;
    font-size: 17px;
    border-radius: 4px;
}